In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bank-customers/extract - fees - data analyst - .csv
/kaggle/input/bank-customers/extract - cash request - data analyst.csv

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
fees= pd.read_csv('/kaggle/input/bank-customers/extract - fees - data analyst - .csv')
cash_request= pd.read_csv('/kaggle/input/bank-customers/extract - cash request - data analyst.csv')

In [4]:
cash_request.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  object
 4   updated_at                  23970 non-null  object
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  object
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  object
 9   cash_request_received_date  16289 non-null  object
 10  money_back_date             16543 non-null  object
 11  transfer_type               23970 non-null  object
 12  send_at                     16641 non-null  object
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   object
 15  reco_last_update            3330 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 2.9+ MB

In [5]:
cr= cash_request.copy()
cr=cr[['amount','created_at', 'user_id', 'deleted_account_id', 'transfer_type']]
cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   amount              23970 non-null  float64
 1   created_at          23970 non-null  object
 2   user_id             21867 non-null  float64
 3   deleted_account_id  2104 non-null   float64
 4   transfer_type       23970 non-null  object
dtypes: float64(3), object(2)
memory usage: 936.5+ KB

In [6]:
cr.fillna({'user_id':cr['deleted_account_id']}, inplace=True)
cr.drop(columns=['deleted_account_id'], inplace=True)
cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   amount         23970 non-null  float64
 1   created_at     23970 non-null  object
 2   user_id        23970 non-null  float64
 3   transfer_type  23970 non-null  object
dtypes: float64(2), object(2)
memory usage: 749.2+ KB

In [7]:
cr['created_at']=pd.to_datetime(cr['created_at'])
cr.head()

   amount                       created_at  user_id transfer_type
0   100.0 2019-12-10 19:05:21.596873+00:00    804.0       regular
1   100.0 2019-12-10 19:50:12.347780+00:00    231.0       regular
2   100.0 2019-12-10 19:13:35.825460+00:00    191.0       regular
3    99.0 2019-12-10 19:16:10.880172+00:00    761.0       regular
4   100.0 2020-05-06 09:59:38.877376+00:00   7686.0       regular

In [8]:
cr['created_at']=cr['created_at'].dt.tz_localize(None)
cr.head()

   amount                 created_at  user_id transfer_type
0   100.0 2019-12-10 19:05:21.596873    804.0       regular
1   100.0 2019-12-10 19:50:12.347780    231.0       regular
2   100.0 2019-12-10 19:13:35.825460    191.0       regular
3    99.0 2019-12-10 19:16:10.880172    761.0       regular
4   100.0 2020-05-06 09:59:38.877376   7686.0       regular

In [9]:
cr['Month']=cr['created_at'].dt.to_period('M')
cr.head()

   amount                 created_at  user_id transfer_type    Month
0   100.0 2019-12-10 19:05:21.596873    804.0       regular  2019-12
1   100.0 2019-12-10 19:50:12.347780    231.0       regular  2019-12
2   100.0 2019-12-10 19:13:35.825460    191.0       regular  2019-12
3    99.0 2019-12-10 19:16:10.880172    761.0       regular  2019-12
4   100.0 2020-05-06 09:59:38.877376   7686.0       regular  2020-05

In [10]:
cr['Cohort']=cr.groupby('user_id')['created_at'].transform('min').dt.to_period('M')
cr.head()

   amount                 created_at  user_id transfer_type    Month   Cohort
0   100.0 2019-12-10 19:05:21.596873    804.0       regular  2019-12  2019-12
1   100.0 2019-12-10 19:50:12.347780    231.0       regular  2019-12  2019-12
2   100.0 2019-12-10 19:13:35.825460    191.0       regular  2019-12  2019-12
3    99.0 2019-12-10 19:16:10.880172    761.0       regular  2019-12  2019-12
4   100.0 2020-05-06 09:59:38.877376   7686.0       regular  2020-05  2020-05

In [11]:
# calculate the number of the unique customers in each cohort
cohort_initial_sizes= cr.groupby('Cohort').agg(
    number_of_initial_customers=('user_id', 'nunique')
).reset_index()
cohort_initial_sizes

     Cohort  number_of_initial_customers
0   2019-11                            1
1   2019-12                          254
2   2020-01                          106
3   2020-02                           90
4   2020-03                           86
5   2020-04                          246
6   2020-05                          432
7   2020-06                         1540
8   2020-07                         1482
9   2020-08                          728
10  2020-09                         1950
11  2020-10                         4802
12  2020-11                           76

In [12]:
cohort_monthly_sizes= cr.groupby(['Cohort','Month']).agg(num_customers=('user_id', 'nunique')).reset_index()
cohort_monthly_sizes

     Cohort    Month  num_customers
0   2019-11  2019-11              1
1   2019-11  2019-12              1
2   2019-11  2020-04              1
3   2019-11  2020-05              1
4   2019-11  2020-08              1
..      ...      ...            ...
78  2020-09  2020-10            680
79  2020-09  2020-11             20
80  2020-10  2020-10           4802
81  2020-10  2020-11             15
82  2020-11  2020-11             76

[83 rows x 3 columns]